page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}

.principal-custom {
    background-color: rgba(133, 121, 116, 0.247);
    background-image: url('www/img/teste1.jpg');
    background-size: cover;
    background-position: center;
}


/* Testando informaçãop para animações do botão */

.animation {
    width: 50px;
    height: 50px;
    background-color: #CE2829;
    border-radius: 50px;
    color: #fff;
    position: relative;
    transition: width .7s .3s;
}

.animation i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    transition: opacity .7s .7s;
}

.animation::after {
    content: "Marcar Presença";
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    padding-bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.animation:hover {
    width: 200px;
    transition: width .7s;
}

.animation:hover {
    transition: opacity .7s;
    opacity: 0;
}

.animation:hover::after {
    opacity: 1;
    transition: opacity .7s .7s;
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    text-align: center;
    margin-right: 50px;
}